<% content_for :body_content_title do %>
  <%= @employee.first_name %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>First Name</h1>
    <p>
      <%=raw @employee.first_name %>
    </p>
  </section>
  <section>
    <h1>Last Name</h1>
    <p>
      <%=raw @employee.last_name %>
    </p>
  </section>
  <section>
    <h1>Employee Type</h1>
    <p>
      <%=raw @employee.employee_type %>
    </p>
  </section>
  <section>
    <h1>Position</h1>
    <p>
      <%=raw @employee.position %>
    </p>
  </section>
  <section>
    <h1>About</h1>
    <p>
      <%=raw @employee.about %>
    </p>
  </section>
  <section>
    <h1>Birthday</h1>
    <p>
      <%=raw @employee.birthday %>
    </p>
  </section>
  <section>
    <h1>Picture</h1>
    <p>
      <%= image_fu @employee.picture, "300x300" %>

    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="employees">
      <% @employees.each do |employee| %>
        <li>
          <%= link_to employee.first_name, refinery.employees_employee_path(employee) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
