<div class="row">
  <div class="small-12 large-6 columns">
    <div class="small-12 large-12 columns text-center">
        <%= image_fu @employee.picture, "200x200" %>
    </div>
    <div class="small-12 lage-12 columns text-center">
      <h1><%=raw @employee.last_name.capitalize %>, <%= @employee.first_name.capitalize %></h1>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <div class="small-12 large-12 columns">
      <h1>Position</h1>
      <p>
        <%=raw @employee.position %>
      </p>
    </div>
  </div>
  <div class="small-12 large-12 columns">
      <h1>About</h1>
      <p>
        <%=raw @employee.about %>
      </p>    
  </div>
</div>
  <section>
  </section>



<%= render '/refinery/content_page' %>
